*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: white;
    margin: 10px 20px;
}
.nav-2{
    display: flex;
    gap: 20px;
}

nav h1{
    font-weight: 400;
}


.hero h1{
    color: white;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 400;
    line-height: 120px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 9;
}
.hero h1:nth-child(1){
    margin-top: 200px;
}
.hero h1:nth-child(2){
    text-align: center;
    padding-left: 100px;
}
.hero h1:nth-child(3){
    text-align: right;
    /* padding-right: 200px; */
}

img{
    height: 400px;
    position: absolute;
    top: 12%;
    left: 40%;
}
.i2{
    rotate: 5deg;
}
.i1{
    rotate: 10deg;
}
img{
    filter: brightness(60%);
}
